:root {
    --clr-primary: #3B3F42;
    --clr-accent: #FC4C02;

    --fs-title: 1em;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: var(--fs-title);
}

body {
    margin: 0;
    padding: 0;
}

/* Typography */

h1, h2, h3, h4, p {
    margin: 0;
}